<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518913465132-4u4ds8sm55kdqr7alm3raacfe34vj0ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518913465132-4u4ds8sm55kdqr7alm3raacfe34vj0ue</string>
	<key>API_KEY</key>
	<string>AIzaSyDiyw9ZHAtIfgK5HX8op_lizHmMRQcQuQM</string>
	<key>GCM_SENDER_ID</key>
	<string>518913465132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeZMoney</string>
	<key>PROJECT_ID</key>
	<string>timezmoney</string>
	<key>STORAGE_BUCKET</key>
	<string>timezmoney.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518913465132:ios:4c7d073caa7ca1184cea89</string>
</dict>
</plist>